/*Schrijf hier jouw CSS*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
}

article {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
}

aside {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;
}